
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
            <h4 class="card-title">Simple Table</h4>

            <div class="mb-3 col-md-3">
              <h4 class="card-title">Buscar Usuario</h4>
              <input type="text" class="form-control" id="searchInput" placeholder=""
                (input)="applyFilter($event.target.value)">
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th class="col-md-1">Nombre</th>
                  <th class="col-md-3">Tipo de Identificación</th>
                  <th class="col-md-2">Número Identificación</th>
                  <th class="col-md-2">Fecha de nacimiento</th>
                  <th class="col-md-2">Peso</th>
                  <th class="col-md-2">Altura</th>
                  <th class="col-md-2">Imc</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of filteredUsers" (click)="openUserDetailsModal(user)" class="cursor-pointer"
                    matTooltip="Haz clic para editar o eliminar" [matTooltipPosition]="'above'">
                    <td class="cursor">{{ user.name }}</td>
                    <td>{{ user.idType }}</td>
                    <td>{{ user.idNumber }}</td>
                    <td>{{ user.dateBirth | date }}</td>
                    <td>{{ user.Weight }}</td>
                    <td>{{ user.Height }}</td>
                    <td>{{ user.status }} / {{user. imc }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>