<form [formGroup]="updateForm" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tipo de identificación</mat-label>
    <mat-select  formControlName="idType">
      <mat-option *ngFor="let type of identificationTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Número Identificación</mat-label>
    <input matInput  formControlName="idNumber">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput [matDatepicker]="datepicker"  formControlName="dateBirth">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Peso</mat-label>
    <input matInput type="number" placeholder="Enter weight" formControlName="Weight">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Altura</mat-label>
    <input matInput type="number" placeholder="Enter height" formControlName="Height">
  </mat-form-field>

  <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="deleteUser()">Eliminar Usuario</button>

  <button mat-raised-button type="submit" class="btn btn-success pull-right" >Guardar Cambios</button>
</form>
